{{ define "main" }}
  {{ partial "pages/hero.html" . }}

  <div class="document-content">
    {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
    {{- if .Params.blocks }}
      {{ $need_aside := false }}
      {{ range .Params.blocks }}
        {{ if .title }}
          {{ $need_aside = true }}
        {{ end }}
      {{ end }}
      {{ partial "toc/container.html"
          (dict
              "category" $category
              "toc" "pages/toc.html"
              "context" .
          )
      }}
      {{ partial "hooks/after-page-hero.html" . }}
      <div class="blocks blocks-chapo">
        <div class="container">
          <div class="block-content">
            {{ partial "pages/chapo.html" .Params.description_short }}
          </div>
        </div>
      </div>
      {{ partial "blocks/list.html" . }}

    {{ else }}
      <div class="blocks blocks-chapo">
        <div class="container">
          <div class="block-content">
            {{ partial "pages/chapo.html" .Params.description_short }}
          </div>
        </div>
      </div>
      {{ partial "pages/image.html" .Params.image }}
      {{ partial "pages/children.html" .Params.children }}
    {{ end }}
  </div>

{{ end }}
